@model UsersViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FullName = string.Concat(Model.FName, ' ', Model.LName);
}

<div class="tab-pane fade show active mt-5 p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">
    <h1 class="mb-5">User @FullName Details</h1>

    <div class="row">
        <partial name="PartialViews/DetailsDeletePartialView"></partial>

@*         <div class="row ">
            <ul>
                <label class="form-label" asp-for="Roles"></label>
                @foreach (var role in Model.Roles)
                {
                    <li>@role</li>
                }
            </ul>
        </div> *@

    </div>
    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning">Edit</a>
        <h5 class="d-inline">|</h5>
        <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
    </div>
</div>
