@* @model CreateRoleViewModel *@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>


<div class="tab-pane fade show active mt-5 p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">
    <h1 class="mb-5">Add New Role</h1>

    <div class="row">
        @* <div asp-validation-summary="All"></div> *@
        <form asp-action="Create" method="post" enctype="multipart/form-data">
@*             <div class="form-group mb-3 ">
                <label class="form-label" asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span class="alert-danger" asp-validation-for="RoleName"></span>
            </div> *@
            <div class="form-group mb-3 ">
                <label class="form-label" name="RoleName"></label>
                <input name="RoleName" class="form-control" required />
            </div>

            <div class="mt-4">
                <input class="btn btn-success" type="submit" value="Save" />
                <h5 class="d-inline">|</h5>
                <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
            </div>
        </form>
    </div>
</div>