@model RolesViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="tab-pane fade show active mt-5 p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">
    <h1 class="mb-5">@Model.Name Role Details</h1>

    <div class="row">
        <partial name="PartialViews/DetailsDeletePartialView" />

    </div>
    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <h5 class="d-inline">|</h5>
        <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
    </div>
</div>